/*Box Model (page layout)*/
* {
    background-color: blue;
    margin-left: 20%;
    padding:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    max-width: 99%;
}

.container {
    float: left;
    min-width: min-content;
    max-width: 77%;
}

.akanDescription {
    float: left;
    max-width: 99%;
    border-color: blueviolet;
    border-width: 3px;
    margin: 10px;
}

.akanForm {
    max-height: 99%;
    width: 100%;
    padding: 5px;
}

.footer {
    max-width: 77%;
    margin-top: 10px;
    border: 3px;
    background-color: aqua;
}
/* Form Select menu style for Male/Female */
select {
    width: 40%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    border-color: lightcoral;
}

/* Form select menu style for Date of Birth */
