/*Box Model (page layout)*/
* {
    margin: 1%;
    padding:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    max-width: 99%;
}

body{
    background-image: url("accra-city.jpeg");
    background-position: center;
}

.container {
    float: left;
    width: 98%;
    background-color: transparent;
    margin: 1%;
    padding: 3%;
}

.akanDescription {
    float: left;
    width: 80%;
    border-color: blueviolet;
    margin: 3% 5% 5% 9%;
    background-color: brown;
    text-decoration: solid;
    padding: 10px;
}

.akanForm {
    margin: 5% 1% 5% 10%;
    max-height: 99%;
    width: 69%;
    padding: 5px;
    background-color: bisque;
}

.footer {
    margin: 5% 5% 5% 3%;
    float: left;
    width: 92%;
    margin-top: 10px;
    border: 3px;
    background-color: aqua;
}

/*Form INPUTS style*/
#dayInput{
   width: fit-content; 
   border-radius: 4px;
   height: fit-content;
   box-shadow: 1px #01f;
}
#monthInput{
    width: fit-content; 
   border-radius: 4px;
   height: fit-content;
   box-shadow: 1px  #01f;
}
#yearInput{
    width: fit-content; 
   border-radius: 4px;
   height: fit-content;
   box-shadow: 1px #01f;
}

/*Submit input*/
input[type=submit]{
    background-color: blueviolet;
    color: aliceblue;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: coral;
}
/* Form Select menu style for Male/Female */
select {
    width: 33%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    border-color: lightcoral;
}

/* Form select menu style for Date of Birth */

/* Form */
.akanForm{
    
}